/* Cutted edge style*/
.banner {
    max-width: 100%;
}
.my-rounded {
    border-radius: 1em;
}

.help {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.help:hover .image {
    opacity: 0.3;
}

.help:hover .middle {
    opacity: 1;
}

.text {
    background-color: #FC9BB3;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.btn-outline-success:hover {
    background-color: #00B388;
}