/* General Style */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
html{
	scroll-behavior: smooth;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-color: white;
}

/* Underline style (Only safari and firefox) */
.underline {
	text-decoration-thickness: 5px;
	text-underline-offset: 3px;
}

/* Parragraphs */
.lead {
	text-align: left;
	line-height: 200%;
}
h3 {
	text-align: left;
	line-height: 150%;
}
.display-6 {
	font-size: 120%;
}
.adjust-text-center {
	text-align: right;
}

/* CARDS CSS */
.card {
	border: 0px solid transparent;
	border-radius: 0px 0px 0px;
	background-color: white;
}

/* IMG HOVER ANIMATIONS */
.hover_img {
  width:100%; 
  border:1px solid transparent;
  transition:0.2s;
}

.hover_img:hover  {
	transform:scale(1.04);
	transition:0.2s;
}

.hover_img_big {
	width:100%; 
	border:1px solid transparent;
	transition:0.2s;
}

.hover_img_big:hover  {
	transform:scale(1.02);
	transition:0.2s;
}

/* BIG Static img */
.big_img {
	max-width: 120%
}

/* Theme Colors */

/* Text*/
.text-dark { color: #101820 }
.text-green { color: #00B388 }

/* Background colors */
.bg-black { background-color: black; }
.bg-gray { background-color: #303030; }
.bg-blue { background-color: #74D1EA; }
.bg-green { background-color: #00B388; }
.bg-pink { background-color: #FC9BB3; }
.bg-red { background-color: #FF585D; }
.bg-orange { background-color: #FFA300; }
.bg-glass { background-color: #ffffff59; }

.bg-mod1 { 
	background-image: url("../images/modulaciones/3.png");
	background-size: cover;
}
.bg-mod2 { 
	background-image: url("../images/modulaciones/5.png");
	background-size: contain;
}
.bg-mod3 { 
	background-image: url("../images/modulaciones/4.png");
	background-size: cover;
}
.bg-mod4 { 
	background-image: url("../images/modulaciones/1.png");
	background-size: contain;
}

/* LINKS THEME */
a { color: gray; }
a:hover { color: gray;}

/* BUTTONS */
.dropdown-item:active {
	background-color: black;
	color: white;
}
.btn {
	border-radius: 0%;
}

/* Inputs */
.form-control {
	border-radius: 0%;
}

/* NAVBAR */
.logo {
	width: 450px;
}
.logo-footer
{
	width: 200px;
}
#navbar-logo {
	width: 0;
	transition: width 0.2s;
}
#navbar-logo.show {
	opacity: 1 !important;
	width: 55px !important;
	transition: width 0.2s;
}
.nav-item {
	text-decoration: none;
}
.nav-item:hover {
	text-decoration: underline;
	text-decoration-color: gray;
}

/* ICONS */
.icon {
	position: relative;
	/* Adjust these values accordingly */
	top: -2px;
	left: -1px;
}

/* Container width SIZE*/
@media (min-width: 1200px) {
    .container{
        max-width: 75%;
    }
}

/* Mobile setting */
@media screen and (max-width: 600px) {
	/*Text adjust*/
	.adjust-mobile{
		min-width: 100%;
	}
	/*Text center on mobile*/
	.adjust-text-center {
		text-align: center;
	}
	.display-3{
		font-size: 40px;
	}
	.big_img {
		max-width: 100%;
		margin-left: 0;
		padding-left: 0;
		left: 0;
		margin-top: 10%;
	}
}
