/* General Demo Style */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Questrial', sans-serif;
	color: black;
	background-color: white;
}

.logo {
	width: 450px;
}

/* Underline style (Only safari and firefox) */
.underline {
	text-decoration-thickness: 6px;
	text-underline-offset: 3px;
}

/* Parragraphs */
.lead {
	text-align: justify;
}
.display-6 {
	font-size: 120%;
}

/* CARDS CSS */
.card {
	border: 0px solid transparent;
	border-radius: 0px 0px 0px;
	background-color: transparent;
}

/* IMG HOVER ANIMATIONS */
.hover_img {
  width:100%; 
  border:1px solid transparent;
  transition:0.2s;
}

.hover_img:hover  {
	transform:scale(1.04);
	transition:0.2s;
}

.hover_img_big {
	width:100%; 
	border:1px solid transparent;
	transition:0.2s;
}

.hover_img_big:hover  {
	transform:scale(1.02);
	transition:0.2s;
}

/* Theme Colors */
.bg-black { background-color: #101820; }
.bg-blue { background-color: #74D1EA; }
.bg-green { background-color: #00B388; }
.bg-pink { background-color: #FC9BB3; } /**/
.bg-red { background-color: #FF585D; }
.bg-orange { background-color: #FFA300; }
.bg-glass { background-color: #ffffff59; }

.text-dark { color: #101820 }

/* BUTTONS */
.dropdown-item:active {
	background-color: black;
	color: white;
}
.btn {
	border-radius: 0%;
}

/* Container width SIZE*/
@media (min-width: 1200px) {
    .container{
        max-width: 75%;
    }
}

/* Mobile setting */
@media screen and (max-width: 600px) {
	/*Text adjust*/
	.adjust-mobile{
		min-width: 100%;
	}
}
