/* Cutted edge style*/
.cut {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 15%, 85% 0);
}

.local_icon {
    width: 70px;
}