.square-img {
    width: 100% !important;
    border-radius: 0% !important;
}

.bg-notsolight {
    background-color: rgb(228, 228, 228);
}

.box {
    color: black;
}

.img-profile {
    width: 100% !important;
    max-height: 500px;
    object-fit: none;
}

.img-portafolio {
    width: 100%;
    max-height: 300px;
    object-fit: none;
}

.block-redes {
    height: 300px;
}
.block-curriculum {
    height: 300px;
}

.hr-white {
    border-color:rgb(228, 228, 228);
}